<div class="layout-container has-bg" ng-show="true" style="display: none">

    <header>
        <!--<a ng-click="goBack()" class="header-link-left header-link-back" data-popview=".slide-product-scan">Back</a>-->
        <span class="header-title">
            Surveys
        </span>
    </header>

    <article class="dashboard-article" ng-class="articleClass">
        <div class="form">
            <!--<div class="form-title">
                Choose Survey to Begin
            </div>-->
			<div ng-repeat="survey in displaySurveys">
                <a href="" ng-click="saveSurvey(survey)">
                    <div ng-switch on="survey.isparent__c">
                        <span ng-switch-when="t">
                            <div class="form-line">
                                <span class="form-line-image"><img src="assets/front-end/i/chapter.png"></img></span>
                                <label class="form-line-label is-survey-line">{{survey.name}}</label>
                                <span class="form-line-select-text is-filled form-line-select is-shorter">
                                    <!--<img src="i/survey.png"></img>
                                    <B>{{survey.count}}</B>-->
                                </span>
                            </div>
                        </span>
                        <span ng-switch-when="f">
                            <div class="form-line">
                                <span class="form-line-image"><!--<img src="i/survey.png"></img>-->&nbsp;</span>
                                <label class="form-line-label is-survey-line">{{survey.name}}</label>
                                <span class="form-line-select-text is-filled form-line-select is-shorter">
                                    <!--{{survey.count}}-->
                                </span>
                            </div>
                        </span>

                    </div>
				</a>
			</div>

        </div>
    </article>
    <!--Goals removed as per Erica Notes-->
    <!--<footer class="dashboard-footer" ng-show="showDashboard != 'false'" ng-click="openDashboard()">-->
        <!--<span>View Goals</span>-->
    <!--</footer>-->
</div>
