$btn-primary:#00657c;
$icon-size: 26px;

.btn-bs {
	border-radius:0;
	@include font-medium;
	font-size:14px;
}

.min-100 {min-width:100px}

.btn-xl {
	padding:($gap-xs + $gap-sm) $gap-lg;
}

button.btn-bs.block {
	min-width:100%;
}

.btn-default {
	&:hover,&:focus,&:active {
		background:$brand-primary;
		color:white;
		border-color:$brand-primary;
	}
}

.btn-more {
	margin-left:$gap-lg;
	@media (max-width:($screen-sm - 1px)) {
		min-width:50%;
		max-width:300px;
		margin:$gap auto;
	}
}

.download-card {
	text-align:center;
	border:1px solid #eee;
	background:#f6f6f6;
	margin:0 4rem;
	padding:$gap-md;
	@include shadow(1);
	.download-icon {
		width:100px;
		height:100px;
		display:block;
		margin:0 auto $gap-md;
	}
	> .btn-bs {
		display:block;
		max-width:180px;
		margin:$gap-sm auto;
		&:last-of-type {margin-bottom:0}
	}
}

