.navbar-default {
	@media (max-width:$screen-xs) {
		padding:0 0 $gap-sm;
	}
	.navbar-toggle {
		border-color:transparent;
		float: left;
		&:after {
			content:"Menu";
			position:absolute;
			color:white;
			left:4.5rem;
			top:0.7rem;
			font-size:12px;
			text-transform:uppercase;
			@include font-bold;
		}
	}
	.navbar-collapse,.navbar-form {border-color:transparent}
	.navbar-form,&.navbar {z-index:10}
	.navbar-nav {
		@media (max-width:$screen-xs) {
			margin-left:0;
			margin-right:0;
		}
		> li > a {
			@media (max-width:$screen-md) {
				font-size:15px;
				padding:10px !important;
			}
		}
	}
	.divider {
		height: 1px;
		background: rgba(255,255,255,0.1);
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

.navbar-left {
	@media (min-width:$screen-sm) and (max-width:$screen-lg) {
		float:none !important
	}
}

.user-nav {
	@media (min-width:$screen-sm) {
		float:right;
	}
}

.main-nav {
	position:relative;
	z-index:10;
	.navbar-right {margin-right:0}
	@media (min-width:$screen-sm) and (max-width:$screen-lg) {
		.navbar-form.navbar-right {
			display:block;
			float:none !important;
			position:absolute;
			width:100%;
			top:4.25rem;
		}
		.form-group.search {
			display:block;
			left:-10px;
			> .form-control {
				display:block;
				width:100%;
				height:inherit;
			}
			.btn-search {
				span {text-transform:uppercase;}
			}
		}
	}
}
