.navbar-default {
	@media (max-width:$screen-xs) {
		padding:0 0 $gap-sm;
	}
	.divider {
		height: 1px;
		background: rgba(black,0.1);
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

.navbar-toggle {
	margin-right:0;
}

.navbar-left {
	@media (min-width:$screen-sm) and (max-width:$screen-lg) {
		float:none !important
	}
}

.user-nav {
	@media (min-width:$screen-sm) {
		float:right;
	}
}

.main-nav {
	list-style:none;
	margin:0;
	padding:0;
	@include display(flex);
	@include flex-wrap(wrap);
	> li {
		&:first-of-type > a {
			padding-left:0;
		}
	}
	a {
		display:block;
		padding:15px;
	}
}
