footer {
	border-top:1px solid $footer-border;
	margin-top:$footer-top-margin;
	background:$footer-bg;
	color:rgba(white,0.6);
	padding: 0;
	height:$footer-height + $footer-vert-padding + $footer-vert-padding;
	padding:$footer-vert-padding 0;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	font-size:13px;
	text-align:right;
	a {
		@include font-bold;
		color:white;
	}
	.company {margin-left:5px}
	.copyright {
		margin:$gap-sm 0 0;
		font-size:13px;
		@media (max-width:$screen-sm) {
			text-align:center
		}
	}
}
